* {
  background-color: #1c2133;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, Helvetica, Arial, sans-serif !important;
  cursor: url('cursor.svg') 7.5 7.5, auto;
  color: white;
}

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
